<!-- footer.ejs
Student Name: Sagar Parmar
Student ID: 301271932
Date: 11th Oct 2023  -->


<div class="footer">
<div class="container footer-wrap">
<div class="row footer-row">
    <div class="col-sm-6 footer-img">
        <a href="/"><img src="/img/logoJPG.png" alt=""></a>
    </div>
    <div class="col-sm-6 footer-socials">
      <ul>
        <li><a href="#"><img src="/img/5296499_fb_facebook_facebook logo_icon.png" alt=""></a></li>
        <li><a href="#"><img src="/img/5296501_linkedin_network_linkedin logo_icon.png" alt=""></a></li>
        <li><a href="#"><img src="/img/5296516_tweet_twitter_twitter logo_icon.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>