<!-- about.ejs
Student Name: Sagar Parmar
Student ID: 301271932
Date: 11th Oct 2023  -->

<%- include ('./partials/header.ejs') %>
<%- include ('./partials/mainNav.ejs') %>

<div class="title">
    <h1>About Me</h1>
</div>

<main class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 content-wrap">
                <h2>I'm Sagar Parmar, and I'm deeply passionate about the convergence of Machine Learning and Finance. My mission is to bridge these two dynamic fields to create innovative solutions. I'm a self-motivated individual who thrives on challenges that demand continuous learning and growth.

                    <br>My journey is fueled by an insatiable curiosity that drives me to explore new avenues, constantly pushing boundaries to unlock the full potential of AI in the realm of finance. When I'm not immersed in data and algorithms, you'll find me engrossed in thought-provoking non-fiction books, seeking inspiration to fuel my next big idea.
                    
                    <br>Let's connect and explore the endless possibilities of merging data-driven insights with financial acumen.
                <br> <a href="https://www.linkedin.com/in/sagar-parmar-264a66174/">LinkedIn</a></h2>
            </div>
            <div class="col-sm-4 aboutme-wrap">
                <img src="/img/IMG_2693.jpg" alt="">
            </div>
        </div>
    </div>
</main>



<%- include ('./partials/footer.ejs') %>