<!-- index.ejs
Student Name: Sagar Parmar
Student ID: 301271932
Date: 11th Oct 2023  -->

<%- include ('./partials/header.ejs') %>
<%- include ('./partials/mainNav.ejs') %>

<main class="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 content-wrap">
                <h2>Welcome to my digital playground "The 1 Percenters (1%)", where I, Sagar Parmar, bring your web dreams to life. As a Full Stack Web Developer and ML enthusiast, I craft code that transforms ideas into realities. <br> My motto: "Code to Create, Innovate to Elevate." Join me in reshaping the digital frontier.</h2>
            </div>
        </div>
    </div>
</main>

<%- include ('./partials/footer.ejs') %>