<!-- projects.ejs
Student Name: Sagar Parmar
Student ID: 301271932
Date: 11th Oct 2023  -->

<%- include ('./partials/header.ejs') %>
<%- include ('./partials/mainNav.ejs') %>

<div class="title">
    <h1>Projects</h1>
</div>

<main class="main-wrapper">
    <div class="container">
        <a class="project-link" href="http://studentweb.cencol.ca/sparma70/TermProject/index.html"><div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1> <ul>Listed.</ul> <br> I alone designed the whole website and worked on the backend for the listings. </h1> <p>(Click to Open)</p>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/Screenshot (85).png" alt="">
            </div>
        </div></a>

        <a class="project-link" href="http://studentweb.cencol.ca/sparma70/Assignment2/assignment2.html"><div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1> <ul>TreeHouse</ul> <br> This is was project in the first semester of centennial college about the nature.</h1><p>(Click to Open)</p>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/Screenshot (86).png" alt="">
            </div>
        </div>
        </a>

        <a class="project-link" href="http://studentweb.cencol.ca/sparma70/Assignment3/Assignment3.html"><div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1> <ul>Koenigsegg</ul> <br> This one is one of my favourite website that i alone worked on and designed it perfectly. <br>Ps. My Favourite Car Brand.</h1><p>(Click to Open)</p>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/Screenshot (87).png" alt="">
            </div>
        </div>
        </a>

        <a class="project-link" href="https://the-1-percenter.netlify.app/"><div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1><ul>the-1-percenter</ul> <br> This website i built when i was in the conversation of starting my own digital agency. I worked as a designer and backend developer.</h1><p>(Click to Open)</p>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/Screenshot (88).png" alt="">
            </div>
        </div>
        </a>

        <a class="project-link" href="https://austin31658.netlify.app/"><div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1><ul> A Designer Agency</ul> <br> This is the initial design of one of my client's website. I learned alot about the animations and svg designing through this.</h1><p>(Click to Open)</p>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/Screenshot (89).png" alt="">
            </div>
        </div>
        </a>
    </div>
</main>


<%- include ('./partials/footer.ejs') %>