<!-- services.ejs
Student Name: Sagar Parmar
Student ID: 301271932
Date: 11th Oct 2023  -->

<%- include ('./partials/header.ejs') %>
<%- include ('./partials/mainNav.ejs') %>


<div class="title">
    <h1>Services</h1>
</div>

<main class="main-wrapper">
    <div class="container">
        <div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1>Web & App Development</h1>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/web.jpg" alt="">
            </div>
        </div>

        <div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1>AI & ML Solutions</h1>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/AI.jpg" alt="">
            </div>
        </div>

        <div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1>Business Consulting</h1>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/Business.jpg" alt="">
            </div>
        </div>

        <div class="row project-row">
            <div class="col-sm-8 content-wrap">
                <h1>Finance and Stock Market</h1>
            </div>
            <div class="col-sm-4 project-wrap">
                <img src="/img/finance.jpg" alt="">
            </div>
        </div>
    </div>
</main>



<%- include ('./partials/footer.ejs') %>